body
{
  background-color: #fffdf9;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1
{
  color: 	#ac9c2b;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: normal;
  margin: 50px auto 0;
  line-height: 2;
}

h2
{
  color: 	#ac9c2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  padding-bottom: 10px;
}

h3
{
  color:#d3c34f;
  font-family: 'Montserrat', sans-serif;
}

h4
{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

p
{
  line-height: 2;
}

a
{
  color: #9656a1;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px 20px;
  text-decoration: none;
}

a:hover
{
  color:#fc8db6;
}

hr
{
  border: dotted #ffe3ed 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container
{
  background-color: #f4efd3;
  text-shadow: 9px 8px 16px black;
  width: 100%;
  position: relative;
  padding-top: 200px;

}

.middle-container
{
background-color: #fffdf9;
margin: 100px 0;
}
.bottom-container
{
  background-color: #ffe3ed;
}

.bottom-cloud
{
  left:150px;
  bottom: 300px;
  position: absolute;
}

.top-cloud
{
  position: absolute;
  right: 200px;
  top: 50px;
}

.intro
{
  margin: auto;
  width: 30%;
}

.contact-message
{
  margin: 40px auto 60px;
  width: 40%;
}

.mountain
{
  padding-top: 100px;
}

.aircraft-img
{
  position: absolute;
}

.skills img
{
  width: 15%;
  border-radius: 50%;

}
.skill-row
{
  margin: 100px auto;
  width: 50%;
  text-align: left;

}

.aircraft
{
  float: left;
  margin-right: 30px;
  height: 150px;
}

.skill-creative
{
  float: left;
  margin-right: 30px;
}

.contact-me
{
  margin: 100px auto;
  width: 50%;
  text-align: center;
}

.main-sub
{
  font-weight: normal;
  line-height: 2;
}

.skill-keyboard
{
  float: left;
  margin-right: 30px;
}

.skill-communication
{
  float: right;
  margin-left: 30px;
}

.bottom-container
{
  line-height: 2;
  background-color: #ffe3ed;
  padding: 50px 0 20px;
}

.fa
{
  margin: 5px;
}

.copyright
{
  color:#9656a1;
  font-size: 0.75em;
  padding: 20px 0;

}

.myButton {
	-moz-box-shadow: 0px 12px 31px -7px #eb99b7;
	-webkit-box-shadow: 0px 12px 31px -7px #eb99b7;
	box-shadow: 0px 12px 31px -7px #eb99b7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7e4eb), color-stop(1, #f0c5d5));
	background:-moz-linear-gradient(top, #f7e4eb 5%, #f0c5d5 100%);
	background:-webkit-linear-gradient(top, #f7e4eb 5%, #f0c5d5 100%);
	background:-o-linear-gradient(top, #f7e4eb 5%, #f0c5d5 100%);
	background:-ms-linear-gradient(top, #f7e4eb 5%, #f0c5d5 100%);
	background:linear-gradient(to bottom, #f7e4eb 5%, #f0c5d5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7e4eb', endColorstr='#f0c5d5',GradientType=0);
	background-color:#f7e4eb;
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#9656a1;
	font-family: 'Montserrat', sans-serif;
	font-size:19px;
	padding:9px 16px;
	text-decoration:none;
	text-shadow:1px 0px 0px #fc8db6;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c5d5), color-stop(1, #f7e4eb));
	background:-moz-linear-gradient(top, #f0c5d5 5%, #f7e4eb 100%);
	background:-webkit-linear-gradient(top, #f0c5d5 5%, #f7e4eb 100%);
	background:-o-linear-gradient(top, #f0c5d5 5%, #f7e4eb 100%);
	background:-ms-linear-gradient(top, #f0c5d5 5%, #f7e4eb 100%);
	background:linear-gradient(to bottom, #f0c5d5 5%, #f7e4eb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c5d5', endColorstr='#f7e4eb',GradientType=0);
	background-color:#f0c5d5;
}
.myButton:active {
	position:relative;
	top:1px;
}
