body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1
{
  color: 	#ac9c2b;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: normal;
  margin: 50px auto 0;
  line-height: 2;
}

h2
{
  color: 	#ac9c2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}

h3
{
  color:#d3c34f;
  font-family: 'Montserrat', sans-serif;
}

h4
{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

.top-container
{
  background-color: #f4efd3;
  text-shadow: 9px 8px 16px black;
  width: 100%;
  position: relative;
  padding-top: 200px;

}

.middle-container
{
background-color: #fffdf9;
}
.bottom-container
{
background-color: #ffe3ed;
}

.bottom-cloud
{
  left:150px;
  bottom: 300px;
  position: absolute;
}

.top-cloud
{
  position: absolute;
  right: 200px;
  top: 50px;
}

.mountain
{
  padding-top: 100px;
}

.aircraft-img
{
  position: absolute;
  right: 4%;
  top: 1250px;
}

.skills img
{
  width: 15%;
  border-radius: 50%;
}
.skill-row
{
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.aircraft
{
  float: left;
  margin-right: 30px;
}

.skill-creative
{
  float: left;
  margin-right: 30px;
}

.contact-me
{
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.contact-me img
{
  width: 25%;
}

.fa
{
  color:#9656a1;
}

.main-sub
{
  font-weight: normal;
  line-height: 2;
}

.skill-keyboard
{
  float: left;
  margin-right: 30px;
}

.skill-communication
{
  float: right;
  margin-left: 30px;
}


.footer-originality
{
  color: #9656a1;
}
.footer-link
{
  padding: 30px;
}

.bottom-container
{
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 2;
}

button
{
  margin: 50px;
  padding: 15px;
}
