body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1
{
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: lighter;
  margin: 50px auto 0;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}

h3
{
  font-family: 'Montserrat', sans-serif;
}

h4
{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

.top-container
{
  background-color: #f4efd3;
  text-shadow: 9px 8px 16px black;
  width: 100%;
  position: relative;
  padding-top: 200px;

}

.middle-container
{
background-color: #fffdf9;
}
.bottom-container
{
background-color: #ffe3ed;
}

.bottom-cloud
{
  left:150px;
  bottom: 300px;
  position: absolute;
}

.top-cloud
{
  position: absolute;
  right: 200px;
  top: 50px;
}

.mountain
{
  padding-top: 100px;
}

.skills img
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.fa
{
  color:#9656a1;
}
